@font-face {
    font-family:OpenSans-Semibold;
    font-style: semiBold;        
    src: url("../../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.ttf");
    }
    


ion-row{
    font-family: OpenSans-Semibold;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
}

ion-card-content p{
    padding-left: 28px;

}
.city{
    font-family: OpenSans-Semibold;
    font-size: 0.8em;

}

ion-chip{
    align-items: center;
    text-align: center;
    
}