@font-face {
    font-family:OpenSans-Semibold;
    font-style: semiBold;        
    src: url("../../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.ttf");
    }
    
.coluna1{
    background-color: #F18A3D;
    color: white;
    text-align: center;
    font-family: OpenSans-Semibold;
}