@font-face {
    font-family:OpenSans-Semibold;
    font-style: semiBold;        
    src: url("../../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.ttf");
    }
    
    ion-content {


    .corpo{
      

       ion-img{
            padding-top: 5px;
            margin: auto auto;
            width: 50px;
            height: 50px;
            
        }

            ion-label{
                text-align: center;
                font-family:Arial, Helvetica, sans-serif;
            }

                ion-row{
                    margin-top: -25px;
                    margin-bottom: 0px;
                }

     }
}