@font-face {
    font-family:OpenSans-Regular;
    font-style: regular;
    src: url("../../../assets/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf");
    }

 @font-face {
    font-family:OpenSans-Semibold;
    font-style: semiBold;        
    src: url("../../../assets/fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold.ttf");
    }
    


            @font-face {
                font-family:OpenSans-ExtraBold;  
                font-style: extraBold;     
                src: url("../../../assets/fonts/OpenSans/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf");
                }
    

ion-item{
    --background:#066673;
    
    ion-label{
        font-family: OpenSans-Regular;
    }

    ion-grid{

        .title{
            font-size: 1em;
            text-align: left;
            color: var(--ion-color-light);
        }

        
        .distance{
            padding-top: 25px;
            font-size:2em;
            font-family:OpenSans-ExtraBold;
            color:#F28B3D;
        }

        .info{
            font-size:0.9em;
            font-family: OpenSans-Semibold;
            text-align: left;
            color: var(--ion-color-light);
        }
    }

    
}

.city{
    font-size: 1em;
    text-align: left;
}

ion-footer{
  height: 70px;
  --color: gray;
  ion-icon{
      color: gray;
      
  }
}



