<ion-header>
  <!-- <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar translucent  class="cabecalho" *ngFor="let usuario of usuarios">
    <ion-thumbnail>
      <img src="assets/img/img_avatar.png">
      
    </ion-thumbnail>
    <ion-text class="nome">
      <p>{{usuario.nome}}</p>
      <p class="cidade">Pato Branco - PR</p>
    </ion-text>
  </ion-toolbar>-->

  <ion-toolbar color="medium">
    <ion-searchbar color="light" placeholder="Buscar por: Nome..titulo..cidade..modalidade" animated
      (ionChange)="buscarUsuario( $event )">
    </ion-searchbar>
    <ion-buttons slot="end">
      <!--   <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>-->
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-list *ngIf="products.length > 0">
    <ion-card button [routerLink]="['/product-details', product.id]"
      *ngFor="let product of products | filtro:textoBuscar" animated>
      <ion-item lines="full">
        <ion-grid>
          <ion-row>
            <ion-col class="title" size="12">
             {{product.name}}
            </ion-col>
           
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="full">
        <ion-grid>
          <ion-row>
            <ion-col class="distance" size="6">
              {{product.distance}} km
            </ion-col>
            <ion-col class="info"  size="6">
              <ion-icon name="calendar" color="danger"></ion-icon>
              {{ product.dtEvent | date: 'dd/MM/yy'  }}<br><br>
              <ion-icon name="flame" color="danger"></ion-icon>
              {{product.modalidade}} <br><br>
              <ion-icon name="pulse" size="medium" color="danger"></ion-icon>
              {{product.nivel}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="city" color="medium" lines="none">
          <ion-icon name="pin" color="danger"></ion-icon>
          {{product.cities}}
      </ion-item>
    </ion-card>
  </ion-list>


  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

<ion-footer>
  <ion-toolbar class="rodape">
    <ion-grid>
      <ion-row>

        <ion-col size="4">
          <ion-tab-button routerLink="/perfil">
            <ion-icon name="person" size="large"></ion-icon>
            <ion-label class="labelRodape">Meu Perfil</ion-label>
          </ion-tab-button>
        </ion-col>


        <ion-col size="4">
          <ion-tab-button routerLink="/myposts">
            <ion-icon name="list-box" size="large"></ion-icon>
            <ion-label class="labelRodape">Meus Eventos</ion-label>
          </ion-tab-button>
        </ion-col>



        <ion-col size="4">
          <ion-tab-button (click)="logout()">
            <ion-icon name="log-out" size="large"></ion-icon>
            <ion-label class="labelRodape">Sair</ion-label>
          </ion-tab-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>